Repository motanova84/-jmmotaburr-riemann-adelic: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, validate-zeros-data, check-notebook-outputs

pytest-check:
  name: Run pytest tests
  entry: python -m pytest tests/ -x -q
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - push

validate-zeros-data:
  name: Validate zeros data integrity
  entry: python utils/checksum_zeros.py
  language: system
  always_run: false

check-notebook-outputs:
  name: Clear notebook outputs
  entry: jupyter nbconvert --clear-output --inplace
  language: system
  pass_filenames: true

Update tools/universal_kernel.py
  tools/universal_kernel.py
Due: pytest-check

Update formalization/lean/zeta_basic.lean
  formalization/lean/zeta_basic.lean
Due: none

Replace axioms with proven lemmas for adelic foundation
  formalization/lean/RiemannAdelic/axioms_to_lemmas.lean
  formalization/lean/RiemannAdelic/axioms_to_lemmas_test.lean
Due: none

Define toy adelic structures with concrete lemmas
  formalization/lean/RiemannAdelic/axioms_to_lemmas.lean
  formalization/lean/RiemannAdelic/axioms_to_lemmas_test.lean
Due: none

Add files via upload
  JMMBINF8.pdf
Due: none

Update .github/workflows/ci_coverage.yml
  .github/workflows/ci_coverage.yml
Due: none

Update FORMALIZATION_STATUS.md
  FORMALIZATION_STATUS.md
Due: none

Update tests/test_lean_formalization_validation.py
  tests/test_lean_formalization_validation.py
Due: pytest-check

Update .github/workflows/production-qcal.yml
  .github/workflows/production-qcal.yml
Due: none

Update .github/copilot-instructions.md
  .github/copilot-instructions.md
Due: none

Creado con Colab
  notebooks/141hz_validation.ipynb
Due: check-notebook-outputs

Update demo_operador_H_epsilon.py
  demo_operador_H_epsilon.py
Due: pytest-check

Update sabio_compile_check.sh
  sabio_compile_check.sh
Due: none

Update formalization/lean/test_lean4_operator.lean
  formalization/lean/test_lean4_operator.lean
Due: none

Update examples/example_sabio_validation.sabio
  examples/example_sabio_validation.sabio
Due: none

Update .github/workflows/sabio-symbiotic-ci.yml
  .github/workflows/sabio-symbiotic-ci.yml
Due: none

Revert "Add Lean validation workflow with dynamic README badge updates"
  .github/scripts/update_lean_validation_table.py
  .github/workflows/lean-validation.yml
  .github/workflows/lean.yml
  .gitignore
  README.md
  formalization/lean/validate_lean_env.py
  tests/test_lean_validation_integration.py
Due: pytest-check

Update formalization/lean/validate_lean_env.py
  formalization/lean/validate_lean_env.py
Due: pytest-check

Implement QCAL-CLOUD distributed validation infrastructure
  .github/workflows/qcal-cloud.yml
  QCAL-CLOUD/README.md
  QCAL-CLOUD/__init__.py
  QCAL-CLOUD/coordinator/__init__.py
  QCAL-CLOUD/coordinator/dashboard_api.py
  QCAL-CLOUD/coordinator/qcal_server.py
  QCAL-CLOUD/datasets/dataset_card.md
  QCAL-CLOUD/datasets/evac_rpsi_samples.csv
  QCAL-CLOUD/datasets/spectral_results.json
  QCAL-CLOUD/datasets/zeros_t1e3.csv
  QCAL-CLOUD/node_client/__init__.py
  QCAL-CLOUD/node_client/config.json
  QCAL-CLOUD/node_client/qcal_worker.py
  QCAL-CLOUD/node_client/requirements.txt
  dashboard/app.py
  requirements.txt
  spectral_RH/operador/operador_H_real.py
  utils/fetch_dataset.py
  validate_explicit_formula.py
Due: pytest-check

Update LICENSE with copyright and license details
  LICENSE
Due: none

Update formalization/lean/RiemannAdelic/critical_line_proof.lean
  formalization/lean/RiemannAdelic/critical_line_proof.lean
Due: none

Update formalization/lean/RiemannAdelic/spectral_rh_operator.lean
  formalization/lean/RiemannAdelic/spectral_rh_operator.lean
Due: none

Add files via upload
  RH141.png
Due: none

Update BADGE_IMPLEMENTATION_SUMMARY.md
  BADGE_IMPLEMENTATION_SUMMARY.md
Due: none

Update BADGE_QUICK_GUIDE.md by removing change log
  BADGE_QUICK_GUIDE.md
Due: none

Revise badge system documentation structure
  BADGE_SYSTEM_DOCUMENTATION.md
Due: none

Remove problem statement and visual comparison sections
  BEFORE_AFTER_COMPARISON.md
Due: none

Update CHANGELOG to reflect recent changes
  CHANGELOG.md
Due: none

Update validate_explicit_formula.py
  validate_explicit_formula.py
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$
  validate-zeros-data: any of: ^zeros/.*\.txt$
  check-notebook-outputs: any of: \.ipynb$
