Repository motanova84/-jmmotaburr-riemann-adelic: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, validate-zeros-data, check-notebook-outputs

pytest-check:
  name: Run pytest tests
  entry: python -m pytest tests/ -x -q
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - push

validate-zeros-data:
  name: Validate zeros data integrity
  entry: python utils/checksum_zeros.py
  language: system
  always_run: false

check-notebook-outputs:
  name: Clear notebook outputs
  entry: jupyter nbconvert --clear-output --inplace
  language: system
  pass_filenames: true

Add foundational LaTeX skeletons for key theorems
  docs/teoremas_basicos/de_branges.tex
  docs/teoremas_basicos/rigidez_arquimediana.tex
  docs/teoremas_basicos/unicidad_paley_wiener.tex
Due: none

Add LaTeX compilation scaffold for basic theorems
  docs/teoremas_basicos/Makefile
  docs/teoremas_basicos/de_branges.tex
  docs/teoremas_basicos/main.tex
  docs/teoremas_basicos/rigidez_arquimediana.tex
  docs/teoremas_basicos/unicidad_paley_wiener.tex
Due: none

Add documentation overview for core theorem notes
  docs/teoremas_basicos/README.md
Due: none

Speed up positive form proof-check
  .github/workflows/latex-and-proof.yml
  CITATION.cff
  docs/formalizacion/blueprint.md
  docs/roadmap/ROADMAP.md
  docs/teoremas_basicos/axiomas_a_lemas.tex
  docs/teoremas_basicos/factor_arquimediano.tex
  docs/teoremas_basicos/localizacion_ceros.tex
  docs/teoremas_basicos/main.tex
  proof-check/check_functional_equation.py
  proof-check/check_growth.py
  proof-check/check_positive_form.py
  tests/test_theorems.py
Due: pytest-check

feat(docs): implement core proofs for conditional RH framework
  README.md
  docs/teoremas_basicos/axiomas_a_lemas.tex
  docs/teoremas_basicos/de_branges.tex
  docs/teoremas_basicos/factor_arquimediano.tex
  docs/teoremas_basicos/localizacion_ceros.tex
  docs/teoremas_basicos/main.tex
  docs/teoremas_basicos/rigidez_arquimediana.tex
  docs/teoremas_basicos/unicidad_paley_wiener.tex
Due: none

ci: update LaTeX and proof workflow
  .github/workflows/latex-and-proof.yml
Due: none

docs: align theorem scaffolds and roadmap
  CITATION.cff
  README.md
  docs/roadmap/ROADMAP.md
  docs/teoremas_basicos/axiomas_a_lemas.tex
  docs/teoremas_basicos/de_branges.tex
  docs/teoremas_basicos/factor_arquimediano.tex
  docs/teoremas_basicos/localizacion_ceros.tex
  docs/teoremas_basicos/main.tex
  docs/teoremas_basicos/rigidez_arquimediana.tex
  docs/teoremas_basicos/unicidad_paley_wiener.tex
Due: none

fix: adopt extended de branges scaffold
  docs/teoremas_basicos/de_branges.tex
Due: none

feat: reorganize RH paper structure
  .github/workflows/latex-and-proof.yml
  CITATION.cff
  README.md
  docs/formalizacion/blueprint.md
  docs/paper/Makefile
  docs/paper/README.md
  docs/paper/main.tex
  docs/paper/references.bib
  docs/paper/sections/axiomas_a_lemas.tex
  docs/paper/sections/conclusion.tex
  docs/paper/sections/construction_D.tex
  docs/paper/sections/de_branges.tex
  docs/paper/sections/factor_arquimediano.tex
  docs/paper/sections/intro.tex
  docs/paper/sections/localizacion_ceros.tex
  docs/paper/sections/rigidez_arquimediana.tex
  docs/paper/sections/unicidad_paley_wiener.tex
  docs/roadmap/ROADMAP.md
  proof-check/check_functional_equation.py
  proof-check/check_growth.py
  proof-check/check_positive_form.py
  tests/test_theorems.py
Due: pytest-check

docs: formalize adelic theorem proofs
  docs/teoremas_basicos/axiomas_a_lemas.tex
  docs/teoremas_basicos/de_branges.tex
  docs/teoremas_basicos/factor_arquimediano.tex
  docs/teoremas_basicos/localizacion_ceros.tex
  docs/teoremas_basicos/unicidad_paley_wiener.tex
Due: none

docs: finalize adelic proofs
  docs/teoremas_basicos/axiomas_a_lemas.tex
  docs/teoremas_basicos/de_branges.tex
  docs/teoremas_basicos/factor_arquimediano.tex
  docs/teoremas_basicos/localizacion_ceros.tex
Due: none

feat: formalize adelic rigour and publication pipeline
  .github/workflows/latex-and-proof.yml
  docs/paper/README_submissions.md
  docs/paper/cover_letter.md
  docs/paper/references.bib
  docs/paper/sections/axiomas_a_lemas.tex
  docs/paper/sections/conclusion.tex
  docs/paper/sections/de_branges.tex
  docs/paper/sections/factor_arquimediano.tex
  docs/paper/sections/localizacion_ceros.tex
  docs/paper/sections/rigidez_arquimediana.tex
  docs/paper/sections/unicidad_paley_wiener.tex
  docs/teoremas_basicos/Makefile
  docs/teoremas_basicos/axiomas_a_lemas.tex
  docs/teoremas_basicos/factor_arquimediano.tex
  docs/teoremas_basicos/localizacion_ceros.tex
  docs/teoremas_basicos/main.tex
  docs/teoremas_basicos/unicidad_paley_wiener.tex
  formalization/lean/README.md
  formalization/lean/arch_factor.lean
  formalization/lean/de_branges.lean
  formalization/lean/entire_order.lean
  formalization/lean/functional_eq.lean
  formalization/lean/positivity.lean
Due: none

docs: clarify outstanding work and roadmap gaps
  README.md
  docs/formalizacion/blueprint.md
  docs/paper/README.md
  docs/paper/sections/axiomas_a_lemas.tex
  docs/paper/sections/conclusion.tex
  docs/paper/sections/de_branges.tex
  docs/paper/sections/factor_arquimediano.tex
  docs/paper/sections/intro.tex
  docs/paper/sections/localizacion_ceros.tex
  docs/paper/sections/rigidez_arquimediana.tex
  docs/paper/sections/unicidad_paley_wiener.tex
  docs/roadmap/ROADMAP.md
Due: none

test: YOLO PR
  YOLO.md
Due: none

Mejoras en validate_explicit_formula.py: debug, gaussian y archimedean corregidos, salida CSV garantizada
  validate_explicit_formula.py
Due: pytest-check

Fix: todos los tests unitarios pasan, portabilidad, bibtex, asserts robustos, notebook reproducible, CI y cobertura
  .coveragerc
  .github/workflows/ci_coverage.yml
  .github/workflows/ci_validacion.yml
  CITATION.cff
  README.md
  docs/paper/bibliography.bib
  notebooks/validacion_visual_weil.ipynb
  requirements.txt
  tests/test_validation.py
  tests/test_version_v5.py
Due: pytest-check, check-notebook-outputs

docs: advertencia clara sobre ejecución desde raíz del proyecto para evitar errores de ruta
  README.md
Due: none

Add files via upload
  flashcards_riemann.html
Due: none

Delete flashcards_riemann.html
  flashcards_riemann.html
Due: none

Update paper/uniqueness_theorem.tex
  paper/uniqueness_theorem.tex
Due: none

Update paper/growth_and_order.tex
  paper/growth_and_order.tex
Due: none

Update validation_log.md
  validation_log.md
Due: none

Update spectral_RH/operador/operador_H_real.py
  spectral_RH/operador/operador_H_real.py
Due: pytest-check

Update example_H_diagnostic.py
  example_H_diagnostic.py
Due: pytest-check

Update docs/teoremas_basicos/mathematis_suprema.tex
  docs/teoremas_basicos/mathematis_suprema.tex
Due: none

Update docs/teoremas_basicos/MATHEMATIS_SUPREMA_README.md
  docs/teoremas_basicos/MATHEMATIS_SUPREMA_README.md
Due: none

Update README.md
  README.md
Due: none

Update consummatio_spectralis.py
  consummatio_spectralis.py
Due: pytest-check

Update demo_consummatio_spectralis.py
  demo_consummatio_spectralis.py
Due: pytest-check

Path conditions:
  pytest-check: any of: \.py$
  validate-zeros-data: any of: ^zeros/.*\.txt$
  check-notebook-outputs: any of: \.ipynb$
